<div class="dropdown">
  <input type="text" class="textBox" placeholder="類別" readonly>
  <div class="option">
    <div onclick="show('家居物業')"><ion-icon name="logo-html5"></ion-icon>家居物業</div>
    <div onclick="show('交通出行')"><ion-icon name="logo-css3"></ion-icon>交通出行</div>
    <div onclick="show('休閒娛樂')"><ion-icon name="logo-nodejs"></ion-icon></ion-icon>休閒娛樂</div>
    <div onclick="show('餐飲食品')"><ion-icon name="logo-figma"></ion-icon>餐飲食品</div>
    <div onclick="show('其他')"><ion-icon name="logo-react"></ion-icon>其他</div>
  </div>
</div>
{{#if records.length}}
<div class="amount-container">
  <div>
    <h4>總金額:</h4>  
  </div>
  <div>
    <span id="total-amount"></span>
  </div>
</div>

<ul class="list-group">
  {{#each records}}
  <li class="list-group-item bg-light">
      <div class="content-box d-flex px-4">
        <div class="row">
          <div class="col img-box">
            <i class="{{this.icon}}" style="color:rgb(115, 194, 221)"></i>
          </div>
          <div class="col-auto">
            <h4>{{this.name}}</h4>
            <span>{{this.date}}</span>
          </div>
        </div>
        <div class="">
          <h5>{{this.amount}}</h5>
        </div>
      </div>
      <div class="function-box">
        <a href="/records/{{this._id}}/edit" class="btn"><h6>修改</h6></a>
        <a href="/records/{{this._id}}/delete" class="btn"><h6>刪除</h6></a>
      </div>
  </li>
  {{/each}}
</ul>
{{else}}
  <div>
    <h3 class="mt-5">請先新增一筆支出</h3>
  </div>
{{/if}}
<div class="button-box">
  <a class="btn btn-dark" href="/records/new">新增支出</a>
</div>


<script>
  function show(anything) {
    document.querySelector('.textBox').value = anything
  }
  
  let dropdown = document.querySelector('.dropdown')
  dropdown.onclick = () => dropdown.classList.toggle('active')
</script>
<script>
  function sum() {

  }
</script>