<div class="dropdown">
  {{#if selectedCategory}}
    <input type="text" class="textBox" placeholder="類別" value="{{selectedCategory.name}}" readonly>
  {{else}}
    <input type="text" class="textBox" placeholder="類別" readonly>
  {{/if}}
  <div class="option" id="sort" name="sort">
    {{#each categories}}
    <div onclick=show("{{this.name}}","{{this._id}}")><i class="{{this.icon}}" style="font-size: medium;"></i>{{this.name}}</div>
    {{/each}}
  </div>
</div>
{{#if records.length}}
<div class="amount-container">
  <div>
    <h4>總金額:</h4>  
  </div>
  <div>
    <span id="total-amount">{{totalAmount}}</span>
  </div>
</div>

<ul class="list-group">
  {{#each records}}
  <li class="list-group-item bg-light">
      <div class="content-box d-flex px-4">
        <div class="row">
          <div class="col img-box">
            <i class="{{this.icon}}" style="color:rgb(115, 194, 221)"></i>
          </div>
          <div class="col-auto">
            <h4>{{this.name}}</h4>
            <span>{{this.date}}</span>
          </div>
        </div>
        <div class="">
          <h5>{{this.amount}}</h5>
        </div>
      </div>
      <div class="function-box d-flex">
        <a href="/records/{{this._id}}/edit" class="btn"><h6>修改</h6></a>
        <form action="/records/{{this._id}}?_method=DELETE" method="POST">
          <button class="btn" type="submit">
            <h6>刪除</h6>
          </button>
        </form>
      </div>
  </li>
  {{/each}}
</ul>
{{else}}
  <div>
    <h3 class="mt-5">先新增一筆記錄吧</h3>
  </div>
{{/if}}
<div class="button-box">
  <a class="btn btn-dark" href="/records/new">新增支出</a>
</div>


<script>
  function show(anything, Id) {
    document.querySelector('.textBox').value = anything
    window.location.href = `/category/${Id}`
  }
  let dropdown = document.querySelector('.dropdown')
  dropdown.onclick = () => dropdown.classList.toggle('active')
</script>
